@font-face {
    font-family: 'Aotani';
    src: url('Aotani-Bold.woff2') format('woff2'),
        url('Aotani-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aotani';
    src: url('Aotani-BoldItalic.woff2') format('woff2'),
        url('Aotani-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aotani';
    src: url('Aotani-ThinItalic.woff2') format('woff2'),
        url('Aotani-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aotani';
    src: url('Aotani-Thin.woff2') format('woff2'),
        url('Aotani-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

